html {
	font-size: 62.5%;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ecebe6;
	color: #333;
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-size: 2rem;
}

main {
	margin: 3rem auto;
	width: 50rem;
}

h1, h2 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 800;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

.haight-logo {
	margin: 0 auto;
	display: block;
	width: 15em;
}

ul {
	padding: 0;
	list-style-type: none;
}

p, ul {
	margin-bottom: 2rem;
}

header, section {
	margin-bottom: 7rem;
}

header h1, header h2 {
	margin: 0;
}

section h1 {
	margin-bottom: 3rem;
}

header h1, section h2 {
	color: #3d7c6d;
}
